.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.boton {
  background-color: #af4c4c; /* Green */
  border: none;
  color:#61dafb;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.fondoboton {
  background-color:#20aaff; 
  color: black; 
  border: 2px solid rgb(65, 71, 248);
}

.fondoboton:hover {
  background-color: rgb(65, 71, 248);
  color: white;
}

.header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #20aaff, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
